<section class="stepper-container">
    <custom-cdk-stepper #cdkStepper [linear]="false">
        <cdk-step>
            <div class="__content-wrapper">
                <div class="_content">
                    step 1 content!!!
                </div>
                <div class="btn-container">
                    <button class="btn previous-btn" cdkStepperPrevious>
                        previous
                    </button>
                    <button class="btn next-btn" cdkStepperNext>
                        next
                    </button>
                </div>
            </div>
        </cdk-step>
        <cdk-step>
            <div class="__content-wrapper">
                <div class="_content">
                    step 2 content!!!
                </div>
                <div class="btn-container">
                    <button class="btn previous-btn" cdkStepperPrevious>
                        previous
                    </button>
                    <button class="btn next-btn" cdkStepperNext>
                        next
                    </button>
                </div>
            </div>
        </cdk-step>
        <cdk-step>
            <div class="__content-wrapper">
                <div class="_content">
                    step 3 content!!!
                </div>
                <div class="btn-container">
                    <button class="btn previous-btn" cdkStepperPrevious>
                        previous
                    </button>
                    <button class="btn next-btn" cdkStepperNext>
                        next
                    </button>
                </div>
            </div>
        </cdk-step>
        <cdk-step>
            <div class="__content-wrapper">
                <div class="_content">
                    step 4 content!!!
                </div>
                <div class="btn-container">
                    <button class="btn previous-btn" cdkStepperPrevious>
                        previous
                    </button>
                    <button class="btn next-btn" cdkStepperNext>
                        next
                    </button>
                </div>
            </div>
        </cdk-step>
    </custom-cdk-stepper>
</section>